.apl-accordion-menu {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  background: #30343e none repeat scroll 0 0;
  overflow: hidden;
  >li {
    border-top: 1px solid #252830;
  }
  >li:first-child {
    border-top: 0;
  }
  li.open {
    >span {
      color: #6f7890;
    }
  }
  li {
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
    >span, >a {
      padding: 15px 30px 15px 40px;
      display: block;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #cfd2da;
      cursor: pointer;
      position: relative;
    }
    >span:hover, >span:active {
      color: #fff;
      background: #434857;
    }
    >a:hover, >a:active {
      color: #fff;
      background: #434857;
    }
    a {
      text-decoration: none !important;
    }
    i {
      position: absolute;
      top: 16px;
      left: 12px;
      font-size: 18px;
      color: inherit;
    }
    i.fa-chevron-down {
      right: 12px;
      left: auto;
      font-size: 16px;
    }
    i.fa-chevron-down.trans {
      -webkit-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease;
    }
  }
  li.open {
    background: #252830;
    > span > i.fa-chevron-down {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
  ul {
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .apl-accordion-menu {
    max-width: 320px;
  }
}
.apl-accordion-submenu {
  display: none;
}