$header-height: 50px;
$active-color: #1ca8dd;
.capsule-cms-object-editor {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  overflow: hidden;
  &-head {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
    height: $header-height;
    overflow: hidden;
    z-index: 200;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.176);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.176);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.176);
  }
  &-tabs-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
    height: $header-height * 10;
    overflow: hidden;
    overflow-x: scroll;
  }
  &-tabs {
    width: 10000px;
    height: $header-height;
    overflow: hidden;
  }
  &-tab {
    float: left;
    height: $header-height;
    padding: 0 15px;
    border-bottom: 4px #fff solid;
    line-height: $header-height - 1px;
    cursor: pointer;
    color: #ffffff - #cfd2da;
  }
  //&-tab:hover {
  //  color: #137499;
  //  background: #e3f5fb;
  //  border-bottom-color: #e3f5fb;
  //}
  &-tab-active {
    border-bottom-color: $active-color;
    color: $active-color;
  }
  //&-tab-active:hover {
  //  border-bottom-color: $active-color;
  //  color: $active-color;
  //}
  &-arrow-left {
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: $header-height;
    overflow: hidden;
    text-align: center;
    line-height: $header-height - 1px;
    opacity: .4;
    background: #e3f5fb;
    color: $active-color;
    display: none;
    cursor: pointer;
    font-size: 32px;
  }
  &-arrow-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: $header-height;
    overflow: hidden;
    text-align: center;
    line-height: $header-height - 1px;
    opacity: .4;
    background: #e3f5fb;
    color: $active-color;
    display: none;
    cursor: pointer;
    font-size: 32px;
  }
  &-body {
    position: absolute;
    left: 0;
    top: $header-height;
    right: 0;
    bottom: 0;
    height: auto;
    overflow: hidden;
    z-index: 100;
  }
  &-panel {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: auto;
    width: auto;
    overflow: hidden;
    display: none;
  }
  &-panel-active {
    display: block;
  }
  &-elements-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: auto;
    width: auto;
    overflow: auto;
  }
  &-elements {
    //overflow: hidden;
    padding-top: 15px;
    width: 100%;
    max-width: 768px;
  }
  &-element {
    margin-bottom: 15px;
    position: relative;
    textarea {
      resize: vertical;
    }
  }
  &-element:after {
    clear: both;
    display: table;
    content: ' ';
  }
  &-label {
    padding-left: 15px;
    padding-right: 15px;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    margin-bottom: 5px;
  }
  &-value {
    padding-left: 15px;
    padding-right: 15px;
  }
  &-label-checkbox {
    padding-left: 15px;
    padding-right: 15px;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    float: left;
    padding-top: 7px;
    margin-bottom: 0;
    height: 34px;
  }
  &-value-checkbox {
    padding-left: 15px;
    padding-right: 0;
    float: left;
    height: 34px;
    padding-top: 8px;
    input {
      margin: 0;
      display: inline-block;
    }
  }
  @media (min-width: 768px) {
    &-label {
      float: left;
      width: 768px / 12 * 3;
      padding-top: 7px;
      margin-bottom: 0;
    }
    &-value {
      float: left;
      width: calc(100% - 768px / 12 * 3);
    }
    &-label-checkbox {

    }
    &-value-checkbox {
      height: 31px;
      padding-top: 8px;
      width: auto;
      position: absolute;
      left: 768px / 12 * 3;
      input {
        margin: 0;
        display: inline-block;
      }
    }
  }
}