@import "../../../resources/fonts/opensans.css";
/*
	Open Sans, 300, 300 italic, 400, 400 italic, 600, 600 italic, 700, 700 italic, 800, 800 italic
*/
* {
  font-family: "Open Sans", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
* + * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*::after, *::before {
  box-sizing: border-box;
}
.apl-error-col {
  padding-top: 15px;
  padding-bottom: 15px;
}
pre {
  white-space: pre-wrap;
}
.table-responsive table {

}