@import "../../../resources/fonts/opensans.css";
/*
	Open Sans, 300, 300 italic, 400, 400 italic, 600, 600 italic, 700, 700 italic, 800, 800 italic
*/
* {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
* + * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*::after, *::before {
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.capsule-cms-sidebar-wrapper-show {
  width: 100%;
}
.capsule-cms-sidebar-wrapper-hide {
  width: 0;
}
#capsule-cms-sidebar-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: #1a1c22 none repeat scroll 0 0;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  overflow: hidden;
  padding-top: 50px;
  #capsule-cms-sidebar-action-buttons {
    background: #1a1c22;
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    bottom: auto;
    right: 0;
    color: #fff;
    font-size: 18px;
    i.fa.fa-bars, i.fa.fa-close {
      line-height: 50px;
      width: 50px;
      text-align: center;
      cursor: pointer;
    }
  }
}
@media (min-width: 768px) {
  #capsule-cms-sidebar-wrapper {
    max-width: 320px;
  }
}
#capsule-cms-nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: auto;
  right: 0;
  height: 50px;
  background: #1a1c22 none repeat scroll 0 0;
  color: #fff;
  i.fa.fa-bars {
    line-height: 50px;
    width: 50px;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
  }
}
#capsule-cms-main-menu-wrapper {
  position: absolute;
  left: 0;
  top: 50px;
  bottom: 0;
  right: auto;
  width: 100vw;
  background: #30343e;
}
@media (min-width: 768px) {
  #capsule-cms-main-menu-wrapper {
    max-width: 320px;
  }
}